{% extends "layout.html" %}
{% block content %}



<article class="media content-section">

	<img class="rounded-circle account-img" src= "{{ url_for('static', filename = 'game_pics/' + game.image_file) }}">
	<div class="media-body">

		<h1 class="article-title" align = center>{{ game.name }}</h1>
				<div align = center>
					<h4 class="text-muted"> Game Id: {{ game.id }}</h4>
				</div>

		<div class="article-metadata">
			<div align="center">
			<small class="text-muted">{{ game.date_created.strftime('%Y-%m-%d') }}</small>

			</div>
		</div>
			<div align = center>

				<div>
					{% if game.winner %}
                        {% if game.winner == players[0].id %}
					        <a class="mr-2" href=" {{ url_for('games.match_history', user_id = players[0].id, which = 'all' )}} ">Winner: {{players[0].username}}</a>
                        {% else %}
                            <a class="mr-2" href=" {{ url_for('games.match_history', user_id  = players[1].id, which = 'all' )}} ">Winner: {{players[1].username}}</a>

                    {% endif %}
					{% else %}
                        {% if players[1]  %}
                        <form method = 'POST' class="form-group">
                            {{ form.csrf_token }}
                            {{form.group_id}}


                                {{ form.submit( class = "btn btn-outline-info") }}
                        </form>
                        {% endif %}

					{% endif %}
				</div>

				{% if creator == current_user %}
					<div>


						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('games.update_game', game_id=game.id) }}">Update</a>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('games.exit_game', game_id=game.id, user_id = current_user.id) }}">Leave game</a>
						<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

					</div>
				{% else %}
					{% if current_user in players %}
					<div>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('games.update_game', game_id=game.id) }}">Update</a>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('games.exit_game', game_id=game.id, user_id = current_user.id) }}">Leave game</a>
					</div>
					{% endif %}

				{% endif %}

		</div>
		</div>
</article>

<article class="media content-section">

	<div class="media-body">
		{% if players[1] %}
		<div class="article-metadata">
		 {% else %}
			<div>
		{% endif %}
				<h3>Player 1:</h3>
			  <div class="column left">
				<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + creator.image_file) }}">
				<a class="mr-2" href=" {{ url_for('games.match_history', user_id = creator.id, which = 'all' )}} ">{{ creator.username }}; Elo = {{ creator.elo|int}}</a>

			  </div>


			<br />
		</div>

		{% if players[1] %}
		<div class="article-metadata">
			<h3>Player 2: </h3>
			  <div class="column left">
				<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + players[1].image_file) }}">
				<a class="mr-2" href=" {{ url_for('games.match_history', user_id = players[1].id, which = 'all' )}} ">{{ players[1].username }}; Elo = {{players[1].elo|int}}</a>
			  </div>
			<br />
		</div>

		{% else %}


		{% endif %}


</article>

	  <!-- Modal -->
	  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="deleteModalLabel">Delete Game?</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <form action="{{ url_for('games.delete_game', game_id=game.id) }}" method="POST">
	            <input class="btn btn-danger" type="submit" value="Delete">
	          </form>
	        </div>
	      </div>
	    </div>
  </div>
{% endblock content %}