{% extends "layout.html" %}

{% block content %}

	{% for game in games.items %}
		<article class="media content-section">
			<img class = "rounded-circle article-img" src=" {{ url_for('static', filename = 'game_pics/' + game.image_file)}}">
		  <div class="media-body">
		    <div class="article-metadata">

				<a class="mr-2" href=" {{ url_for('users.user_games', username = game.players[0].username )}}">{{ game.players[0].username }}</a>
				{% if game.players[1]%}
                	<b> vs </b>
              		<a class="mr-2" href=" {{ url_for('users.user_games', username = game.players[0].username )}}">{{ game.players[1].username }}</a>
                {% endif %}

				<small class="text-muted">{{ game.date_created.strftime('%Y-%m-%d') }}</small>
		    </div>
		    <h2><a class="article-title" href=" {{ url_for('games.view_game', game_id = game.id )}}">{{ game.name }}</a></h2>

		  </div>
		</article>
	{% endfor %}

	{% for page_num in games.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
		{% if page_num %}
			{% if games.page == page_num %}
				<a class = "btn btn-info mb-4" href=" {{url_for('main.home',page = page_num)}}">{{ page_num }} </a>
			{% else %}
				<a class = "btn btn-outline-info mb-4" href=" {{url_for('main.home',page = page_num)}}">{{ page_num }} </a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{%endfor%}
{% endblock content %}