asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cycler==0.10.0
idna==2.7
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.1
pycparser==2.18
pyFirmata==1.0.3
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scipy==1.1.0
six==1.11.0
urllib3==1.23
virtualenv==16.0.0
